<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franzandel.feature_home">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_home">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.franzandel.feature_home.presentation.activity.DashboardActivity"
            android:launchMode="singleTask" />
    </application>
</manifest>