<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franzandel.dicodingexpertsubmission">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DicodingExpertSubmissionApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_gamer_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gamer_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DicodingExpertSubmission">
        <activity
            android:name=".presentation.activity.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.DashboardActivity"
            android:launchMode="singleTask" />

        <receiver
            android:name=".core.receiver.DailyAlarmReceiver"
            android:exported="false" />
    </application>

</manifest>